<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using System.Web.Optimization
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    
        <div class="container">
           <div>
                @Html.ActionLink("Home", "Index", "Index", new { area = "" }, new { @class = "navbar-brand-home" })
    
           </div>
            <div>
                @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Search", "Search", "Booking", new { area = "" }, new { @class = "navbar-brand" })
            </div>
              
            </div>

  

    <div>
        <div new class="content">

            @RenderBody()
        </div>
      
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>