@model BookingEntity.Bus

@{
    ViewBag.Title = "Create";
}
    <style>
        table, th, td {
            border: 0 15px;
            padding: 15px;
        }
    </style>

@using (Html.BeginForm("Create", "Index", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Travels Name :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.TravelsName)
            </td>
        </tr>
        <tr>
            <td>
                Bus Id :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.BusId)
            </td>
        </tr>
        <tr>
            <td>
                Source City:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.SourceCity)
            </td>
        </tr>
        <tr>
            <td>
                DestinationCity :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.DestinationCity)
            </td>
        </tr>
        <tr>
            <td>
                Price :
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>
                <a href="~/Index">Back</a>
            </td>
        </tr>
    </table>
}