@model BusBooking.Entity.Bus

@{
    ViewBag.Title = "Create";
}
<style>
    table, th, td {
        border: 0 15px;
        padding: 15px;
    }
</style>

@using (Html.BeginForm("Create", "Index", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.TravelsName, "Travels Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.TravelsName)
                @*@Html.ValidationMessageFor(model => model.TravelsName)*@
                <span style="color:red">
                    @Html.ValidationMessageFor(Model => Model.TravelsName)
                </span>
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusId, "Bus Id")
            </td>
            <td style="color:red">
                @Html.TextBoxFor(Model => Model.BusId)
                @Html.ValidationMessageFor(Model => Model.BusId)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SourceCity, "Source City")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.SourceCity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DestinationCity, "Destination City")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.DestinationCity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Price, "Price")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>
                <a href="/Index/Index">Back</a>
            </td>
        </tr>
    </table>

}