@model BusBooking.Entity.Bus

@{
    ViewBag.Title = "Edit";
}
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
<h2>Edit</h2>


@using (Html.BeginForm("Update", "Index", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.BusId)
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.TravelsName, "Travels Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.TravelsName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.SourceCity, "Source City")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.SourceCity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DestinationCity, "Destination City")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.DestinationCity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Price, "Price")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update" />
            </td>
            <td>
                <a href="~/Index/Index">Back</a>

            </td>
        </tr>
    </table>
}